__pychache__/
app/__pychache__/
venv/
.env
app/__pycache__/__init__.cpython-310.pyc
app/__pycache__/config.cpython-310.pyc
app/__pycache__/database.cpython-310.pyc
app/__pycache__/main.cpython-310.pyc
app/__pycache__/models.cpython-310.pyc
app/__pycache__/oath2.cpython-310.pyc
app/__pycache__/schemas.cpython-310.pyc
app/__pycache__/utils.cpython-310.pyc
app/routers/__pycache__/authenticate.cpython-310.pyc
app/routers/__pycache__/posts.cpython-310.pyc
app/routers/__pycache__/users.cpython-310.pyc
app/routers/__pycache__/vote.cpython-310.pyc

